/* Color de letras en negro */
p {
	color: black;
}

label{
	color: black;
}
.formulario__label {
	display: block;

}

.formulario__input-error {
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__mensaje {
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}


.formulario__mensaje-exito {
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}
.body {
	
	background: #CDCDCD;
}